name: brew install

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  install:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
        version:
          - "4.0.1"
          - "4"
          - "6.0.1"
          - "6.1.1"
          - "6"
          - "7.0.1"
          - "7"
          - "8.0.2"
          - "8"
          - "9.0.2"
          - "9"
          - "11.0.2"
          - "11"
          - "12.0.0"
          - "12.0.1"
          - "12"
          - "13.0.0"
          - "13.0.1"
          - "13"
          - "14.0.0"
          - "14.0.1"
          - "14.1.0"
          - "14.1.1"
          - "14.1.2"
          - "14"
          - "15.0.1"
          - "15"
          - "16.0.1"
          - "16"
          - "17.0.1"
          - "17.1.1"
          - "17"
          - "18.0.1"
          - "18.0.2"
          - "18"
          - "19.0.1"
          - "19.0.2"
          - "19"
          - "20.0.0"
          - "20"
          - "21.0.0"
          - "21.0.1"
          - "21"
          - "22.0.0"
          - "22"
          - "23.0.0"
          - "23"
          - "24.0.0"
          - "24"
          - "25.0.0"
          - "25.0.1"
          - "25.0.2"
          - "25"
          - "null"

    env:
      HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: 1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Homebrew
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

      - name: Install Xiond
        run: |
          echo "Matrix OS: ${{ matrix.os }}"          
          echo "Matrix version: ${{ matrix.version }}"

          if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
          fi

          brew tap burnt-labs/xion ${{ github.workspace }}
          if [[ "${{ matrix.version }}" == "null" ]]; then
            echo "Installing latest version of xiond"
            brew install xiond
          else
            echo "Installing xiond version ${{ matrix.version }}"
            brew install xiond@${{ matrix.version }}
          fi

          xiond version --long
